USE [BookStore]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 27/08/2025 9:32:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Author] [nvarchar](100) NOT NULL,
	[Category] [varchar](50) NULL,
	[PublisherName] [nvarchar](100) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[PublicationYear] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[ImageURL] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 27/08/2025 9:32:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CustomerID] [int] NOT NULL,
	[BookID] [int] NOT NULL,
	[soLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC,
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 27/08/2025 9:32:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Phone] [varchar](20) NULL,
	[Address] [nvarchar](200) NULL,
	[CreatedAt] [datetime] NULL,
	[Password] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 27/08/2025 9:32:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[BookID] [int] NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 27/08/2025 9:32:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[OrderDate] [datetime] NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[ShippingAddress] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([BookID], [Title], [Author], [Category], [PublisherName], [Price], [StockQuantity], [PublicationYear], [Description], [ImageURL]) VALUES (1, N'Nhà giả kim', N'Paulo Coelho', N'Tieu Thuyet', N'NXB Văn Học', CAST(150000.00 AS Decimal(10, 2)), 100, 1988, N'Mộtt câu chuyện đầy cảm hứng và hành trình theo đuổi ước mơ của Santiago, một chàng trai chăn cừu.', N'dacnhantam.jpg')
INSERT [dbo].[Books] ([BookID], [Title], [Author], [Category], [PublisherName], [Price], [StockQuantity], [PublicationYear], [Description], [ImageURL]) VALUES (2, N'Đức nhân tâm', N'Dale Carnegie', N'Tieu Thuyet', N'NXB Trẻ', CAST(120000.00 AS Decimal(10, 2)), 50, 1936, N'Cuốn sách kinh điển về nghệ thuật giao tiếp và xây dựng mối quan hệ.', N'dacnhantam.jpg')
INSERT [dbo].[Books] ([BookID], [Title], [Author], [Category], [PublisherName], [Price], [StockQuantity], [PublicationYear], [Description], [ImageURL]) VALUES (3, N'1984', N'George Orwell', N'Tieu Thuyet', N'NXB Hội Nhà Văn', CAST(200000.00 AS Decimal(10, 2)), 30, 1949, N'Tiểu thuyết dystopia nổi tiếng về một xã hội bị kiểm soát bởi chế độ toàn trị.', N'dacnhantam.jpg')
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
INSERT [dbo].[Cart] ([CustomerID], [BookID], [soLuong]) VALUES (2, 1, 2)
INSERT [dbo].[Cart] ([CustomerID], [BookID], [soLuong]) VALUES (2, 2, 2)
INSERT [dbo].[Cart] ([CustomerID], [BookID], [soLuong]) VALUES (2, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Email], [Phone], [Address], [CreatedAt], [Password]) VALUES (2, N'aa', N'a', N'123@gmail.com', N'1234125123', N'asdad', CAST(N'2025-08-14T18:58:38.330' AS DateTime), N'123')
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Email], [Phone], [Address], [CreatedAt], [Password]) VALUES (6, N'abc', N'aabc', N'a@gmail.com', N'123', N'123', CAST(N'2025-08-14T19:09:09.213' AS DateTime), N'123')
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Email], [Phone], [Address], [CreatedAt], [Password]) VALUES (8, N'abc', N'cbd', N'b@gmail.com', N'0987654321', N'123', CAST(N'2025-08-14T19:12:23.400' AS DateTime), N'123456')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__A9D1053456B0D282]    Script Date: 27/08/2025 9:32:19 SA ******/
ALTER TABLE [dbo].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
